.container {
  margin-top: 20px;
}


.sidebar {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.sidebarCenter {
  display: flex;
  gap: 1rem
}

.sidebarRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem
}

.searchContainer {
  position: relative;
  width: 400px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #323131;
  overflow: hidden;
}

.search {
  padding: 0.5rem;
  margin-right: 0.5rem;
  position: absolute;
  width: 100%;
  border: none;
  height: 100%;
  background-color: #323131;
}

.iconClose {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  padding-top: 2px;
}

.iconClose:hover {
  opacity: 0.7;
}

.contentContainer {
  // margin-top: 3rem;
  padding: 2rem 0rem;
}

.content {
  height: auto;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 2rem;
}

.movieGridViewContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: auto auto auto auto;
}

.movieListViewContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem
}

.listDisplayView {
  display: flex;
  gap: 0.5rem;
}

.displayView {
  cursor: pointer;
}

.displayView:hover {
  opacity: 0.7;
}

.displayViewActive {
  color: #405cf5
}

.labels {
  display: flex;
  gap: 1rem;
}

.label {
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #525252;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.label:hover {
  background-color: #405cf5;
  color: #fff;
  transition: all 0.15s ease-in;
}

.labelActive {
  background-color: #405cf5;
  color: #fff;
}

.loadMoreButtonContainer {
  display: flex;
  justify-content: center;
}

.btnLoadMore {
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 1rem;
  text-align: center;
  width: 100%;
  max-width: 400px;
  font-size: 1rem;

}

.btnLoadMore:hover {
  opacity: 0.7;
}

.notFound {
  text-align: center;
  color: #ccc;
  font-style: italic;
  margin-top: 2rem;
}

.birdIcon {
  margin-top: 4rem;
  width: 25rem;
  height: 25rem;

  .birdAnimation {
    animation: rotate 1s linear infinite alternate;
    transition: all 0.3s ease-in-out;
  }

  @keyframes rotate {
    0% {
      transform: rotateY(180deg);
    }

    49% {
      transform: rotateY(180deg);
    }

    50% {
      transform: rotateY(0deg);
    }

    100% {
      transform: rotateY(0deg);
    }
  }
}





@media only screen and (max-width: 900px) {
  .sidebar {
    flex-direction: column;
    gap: 1rem;
    height: auto;

    .sidebarCenter {
      .searchContainer {
        width: calc(100vw - 24px);
      }
    }
  }

  .contentContainer {
    .content {
      height: auto;
    }

    .movieGridViewContainer {
      gap: 0.5rem;
      grid-template-columns: auto auto;
    }


  }

  .notFound {
    margin-top: 1rem;

    .birdIcon {
      margin-top: 1rem;
      width: 15rem;
      height: 15rem;
    }
  }

}